{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block css_files %} {% endblock %}
    <title>
        {% block title %}{% endblock %}| blogapp
    </title>
</head>
<body>
    <nav class="navbar navbar-dark bg-primary navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="">Blogapp</a>
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="">home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">blogs</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-3">
                menu
            </div>
            <div class="col-9">
                içerik
            </div>
        </div>
    </div>

    {% block content %}{% endblock %}
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
    <script src="{% static 'js/base.js'%}"></script>
    {% block js_files %}{% endblock%}
</body>

</html>